.one {
    background-color:	rgb(250, 160, 160);
    font-family: Verdana, DejaVu Sans,sans-serif;
    font-size: 24px;

}

.stoopid {
    font-size: 30px;
}

#two {
    color: blue;
    font-size: 36px;
}

#four {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}